@keyframes fulgor {
  0% {
    left: -850px;
  }
  80% {
    left: 0px;
  }
}

.button-icon {
  border-radius: 50%;
  padding: 10px;
  /* background-color: var(--white); */
  border: 2px solid var(--dark);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-icon img {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.button-icon:hover {
  transform: rotate(-45deg);
  transition-duration: 0.5s;
  background-color: var(--dark);
}

.button {
  background-color: var(--skyblue);
  color: var(--dark);
  font: var(--button);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-top: 9px;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 12px;
  position: relative;
  border: none;
}

.button a {
  color: var(--dark);
}

.button:hover {
  background-color: var(--skyblue-hover);
  cursor: pointer;
  font-size: 16px;
  transition-duration: 0.3s;
}

.button:active {
  background-color: var(--skyblue-active);
}

.is-secondary {
  border: 2px solid var(--skyblue);
  background-color: var(--dark);
  color: var(--skyblue);
}

.is-secondary:hover {
  border: 2px solid var(--skyblue);
  background-color: var(--dark);
  font-size: 16px;
  transition-duration: 0.3s;
}

.is-secondary:active {
  opacity: 0.5;
}

/* .button:before {
  width: 80px;
  height: 33px;
  border: 1px solid gray; 
  content: "";
  display: block;
  transform: rotate(45deg);
  position: relative;
  top: 0;
  left: -85px;
  background: rgba(255, 255, 255, 0.5);

  animation: fulgor, 5s, infinite, alternate;
} */
