@import "./header.css";
@import "./hero.css";
@import "./buttons.css";
@import "./projects.css";
@import "./title.css";
@import "./form.css";
@import "./footer.css";

* {
  margin: 0;
  padding: 0;
}

:root {
  --fontBase: "Poppins", sans-serif;
  --headline1: bold 95px/153.71px var(--fontBase);
  --headline2: bold 59px/95px var(--fontBase);
  --headline3: bold 48px/77px var(--fontBase);
  --headline4: bold 34px/55px var(--fontBase);
  --headline5: bold 24px/38px var(--fontBase);
  --body1: 16px/25px var(--fontBase);
  --body2: 14px/22px var(--fontBase);
  --button: bold 14px/22px var(--fontBase); /* weight, size, line-height */
  --caption: 12px/19px var(--fontBase);
  --dark: #0f1626;
  --dark-blue: #00243b;
  --white: #eee4e1;
  --skyblue: #5dd9c1;
  --skyblue-hover: #96ecdb;
  --skyblue-active: #47ad99;
}

html {
  scroll-behavior: smooth;

  overflow-y: scroll;
}

body {
  font: var(--body1);
  color: var(--white);
  background-color: var(--dark-blue);
  scroll-behavior: smooth;
}

.entry {
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-blue);
}

#darkWindow {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(18, 23, 37, 0.7);
  z-index: 2;
  scroll-behavior: smooth;
}

#darkWindow.shadow {
  display: block;
}

.etiquetas {
  display: flex;
}

.html {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #f44611;
  border-radius: 10px;
  color: #f44611;
  margin-right: 5px;
}

.css {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #00aae4;
  border-radius: 10px;
  color: #00aae4;
  margin-right: 5px;
}

.js {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #ffff00;
  border-radius: 10px;
  color: #ffff00;
  margin-right: 5px;
}
