.projects {
  background-color: var(--dark);
  padding-bottom: 40px;
  padding-top: 40px;
}

.projects h2:first-child {
  text-align-last: center;
}

.project {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.project:nth-child(odd) {
  background-color: var(--dark-blue);
}

.project:nth-child(odd) .is-secondary {
  background-color: var(--dark-blue);
}

.projects h2 {
  /* border-radius: 10px; */
  max-width: 540px;
  margin: 0 auto;
}

.projects-image {
  width: 100%;
  display: flex;
}

.projects-image img {
  margin: 0 auto;
  width: 90%;
  height: auto;
}

.projects-description {
  display: flex;
  flex-direction: column;
}

.projects-description p {
  margin-bottom: 16px;
  margin-top: 16px;
}

.projects-description a {
  text-decoration: none;
}

.projects-description a:first-child {
  margin-top: 40px;
  /* border-radius: 10px; */
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    /* gap: 50px; */
  }

  .projects-description {
    flex: 1;
    margin-left: 25px;
    margin-right: 25px;
  }

  .projects-image {
    flex: 1;
    height: 100%;
    margin-left: 25px;
    margin-right: 25px;
  }

  .project:nth-child(odd) .projects-image {
    order: 2;
    flex: 1;
    text-align: center;
  }
}
