.projects {
  background-color: var(--dark);
  padding-bottom: 40px;
  padding-top: 40px;
}

.project {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.project:nth-child(odd) {
  background-color: var(--dark-blue);
}

.project:nth-child(odd) .is-secondary {
  background-color: var(--dark-blue);
}

.projects h2 {
  text-align: center;
  margin-bottom: 50px;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}

.project-title {
  align-self: flex-start;
  background-color: var(--skyblue);
  color: var(--dark);
  font: var(--headline5);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  /* margin-left: 4px; */
  /* box-shadow: -4px 4px 0 var(--white); */
  text-decoration: none;
  margin-bottom: 16px;
}

.projects-image {
  width: 100%;
}

.projects-image img {
  width: 100%;
}

.projects-description {
  display: flex;
  flex-direction: column;
}

.projects-description p {
  margin-bottom: 16px;
  margin-top: 16px;
}

.projects-description a {
  text-decoration: none;
}

.projects-description a:first-child {
  margin-top: 40px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .projects-description {
    flex: 1;
  }

  .projects:nth-child(odd) .projects-image {
    order: 2;
    flex: 1;
    text-align: center;
  }
}
